<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/context 
    	http://www.springframework.org/schema/context/spring-context-3.1.xsd
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    
    <context:component-scan base-package="com.nhnnext.score" />

	<bean id="standardGradeLecture" class="com.nhnnext.score.lecture.Lecture">
		<property name="scoreRepository" ref="httpScoreRepository" />
		<property name="grader" ref="standardGrader" />
	</bean>
	
	<bean id="passFailGradeLecture" class="com.nhnnext.score.lecture.Lecture">
		<property name="scoreRepository" ref="httpScoreRepository" />
		<property name="grader" ref="passFailGrader" />
	</bean>
</beans>